<h1 class="container bg-dark text-white text-center m-4 py-4">ngIf show={{show}}</h1>
<div class="container">
  <button class="btn btn-warning"(click)="show=!show">Accion</button>
  
  <p class="text-info" *ngIf="show">Et officiis error eveniet exercitationem dolor vitae ducimus. Ut sed quo temporibus perspiciatis est. Enim molestiae quas quas molestiae quis. Voluptatem adipisci et inventore. Libero impedit harum. Quasi eum molestias sed illo et autem dolores.
 
Et quod dolores laborum reprehenderit. Vel quasi perspiciatis est aut mollitia culpa iure debitis et. Et quia voluptatum iure.
 
Necessitatibus tempora repudiandae dolor. Voluptates distinctio et. Rem molestias minus. Sint sequi eum beatae.

</p>
<p class="text-danger">
Voluptas hic perferendis eaque mollitia perspiciatis est est delectus. Enim officiis iusto quia laborum perferendis. Sint accusantium rerum aut rem et animi vitae distinctio. Voluptatem voluptatum voluptatum a ea consequatur et beatae harum. A sed unde et cumque ut totam rerum aliquam ducimus. Cupiditate aut fugit nihil quis dolore consequatur molestiae tenetur.
 
Dolor atque nobis quod. Iusto consectetur reiciendis alias minima. Quos reiciendis maiores. Consequuntur ut est voluptates rerum ab similique culpa perspiciatis et. Commodi officiis ab dicta porro nemo debitis aut quos ullam.
 
Dolore aperiam reprehenderit officia asperiores aut optio. Eos rerum autem eum. Doloribus adipisci voluptatem quae est consectetur adipisci aut ea.
</p>
</div>